doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Doole Showcase
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/hyperscript.org@0.9.13')
    script(src='https://unpkg.com/htmx.org@2.0.3')
  body
    div(id='content', hx-get='/doodle/random/1', hx-trigger='every 5s')
